*{box-sizing: border-box;
padding: 0;
margin: 0;}
nav div div div{padding: 1rem; border: 2px dotted blue; height: 2rem;
background-color: aqua;
text-align: center;padding: auto;}
.nav{
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
justify-content: center;}
.container{width: 920px;
margin: auto;
display: flex;
flex-wrap: wrap;}
.prior{flex-grow: 1;}