*{box-sizing: border-box;
padding: 0;
margin: 0;}
nav div div div{padding: 1rem; border: 2px dotted blue; height: 2rem;
background-color: aqua;
text-align: center;}
.nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;}
.container{width: 920px;
margin: auto;
display: flex;
flex-wrap: wrap;}
.prior{flex-grow: 2;background-color: aqua;}
.picture{width: 80%;
    height: 500px;
    background-color: blueviolet;
padding: 2rem;
margin: 2rem auto;}
.blue{margin: 1rem 0; background-color: blue;height: 400px; padding: 2rem 0;width: 60%;}
.rosa{margin: 1rem 0; background-color: rosybrown;height: 400px;padding: 2rem 0;width: 40%;}
.txtimg{width: 100%;background-color: chartreuse;height: 500px;margin: 1rem 0;flex-grow: 1;}
.footrow{padding: 1rem;background-color: blueviolet;height: 400px;border: 2px dotted green;flex-grow: 1;}
.x2{flex-grow: 2;background-color: crimson;}